.notices {
    width: 100%;
    color: #fff;
    position: relative;

}

.commitmentsSection::before {
    content: "";
    position: absolute;
    top: 1; 
    left: 0;
    right: 0;
    height: 34px; 
    background: url('/assets/wave.png') repeat-x left top; 
    z-index: 1; 
}

.commitmentsSection {
    width: 80%;
    margin-top: 20px;
    padding-bottom: 40px;
    margin: 0 auto;
    background: #7f015fa0;
    background-size: cover;
}
